<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Servicii la domiciliu</title>
  <link rel="stylesheet" href="/styling/globalStyle.css" />
  <link rel="stylesheet" href="/styling/admin/adminStyle.css" />
</head>
<body>
<header>
  <nav class="top-nav">
    <div class="logo-container">
      <img src="/photos/logo.png" alt="logo"/>
      <span class="logo-text">Servicii la domiciliu</span>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu" id="menu-unordered-list">
      <li onclick="location.href='index.html';">Servicii</li>
      <li onclick="location.href='programeaza.html';">Programeaza</li>
      <select th:if="${user != null}" class="username-select-menu active" onchange="location = this.value">
        <option value="" disabled selected hidden th:text="${user.username}"></option>
        <option value="/profile">Profile</option>
        <option value="/afisareFacturi">Facturi</option>
        <option value="/afisareProgramari">Programari</option>
        <option value="/admin" th:if="${user.isAdmin == true}">Admin Panel</option>
        <option value="/logoutQuestion">Logout</option>
      </select>
    </ul>
  </nav>
</header>
<main>
  <div th:if="${stergereServiciuQuestionMark != null}" class="confirm-stergere-serviciu">
    <p th:text="|Vrei sa stergi serviciul ${serviciulSelectat.numeServiciu}|"></p>
    <form method="POST" action="/stergereServiciu">
      <input type="hidden" th:name="nume_serviciu" th:value="${serviciulSelectat.numeServiciu}" />
      <button type="submit" style="color: green; width:50px; height:25px">DA</button>
    </form>
    <br>
    <form method="GET" action="/admin">
      <button type="submit" style="color: red; width:50px; height:25px">NU</button>
    </form>
  </div>
  <div th:if="${succesStergereServiciu != null}">
    <p th:if="${succesStergereServiciu == true}" style="color:green">Stergerea serviciului a fost un succes</p>
    <p th:if="${succesStergereServiciu == false}" style="color:red">Nu s-a putut realiza stergerea serviciului</p>
  </div>
  <div th:if="${succesUpdateServiciu != null}">
    <p th:if="${succesUpdateServiciu == true}" style="color:green">Serviciul s-a modificat cu succes</p>
  </div>
  <div class="servicii-container">
    <div class="container-serviciu">
      <a href="/adaugaServiciu"><img src="/photos/plus.png" width="300px" height="200px"></a>
      <form method="GET" action="/adaugaServiciu" style="margin:10px">
        <button type="submit" style="width:100px; height:50px">Adauga un nou serviciu</button>
      </form>
    </div>
    <div th:each="serviciu : ${servicii}" class="container-serviciu">
      <img th:src="@{/photos/{numeImagine}(numeImagine=${serviciu.numeImagine})}" width="200px" height="100px" />
      <p th:text="${serviciu.numeServiciu}" class="titlu-serviciu"></p>
      <p th:text="|Pret pe ora: ${serviciu.pretPeOra}|" class="pret-pe-ora-serviciu"></p>
      <p th:text="${serviciu.descriere}" class="descriere-serviciu"></p>
      <form method="POST" action="/editServiciu">
        <input type="hidden" th:name="nume_serviciu" th:value="${serviciu.numeServiciu}" />
        <button type="submit" style="width:100px; height:30px">Editeaza</button>
      </form>
      <form method="POST" action="/intreabaStergereServiciu">
        <input type="hidden" th:name="nume_serviciu" th:value="${serviciu.numeServiciu}" />
        <button type="submit" style="width:100px; height:30px; color:red">Sterge</button>
      </form>
    </div>
  </div>
</main>
<footer>
  <a href="index.html">ServiciiDomiciliu.com</a>
</footer>
</body>
</html>