<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicii la domiciliu</title>
    <link rel="stylesheet" href="styling/globalStyle.css" />
    <link rel="stylesheet" href="styling/register/registerStyle.css" />
  </head>
  <body>
    <header>
      <nav class="top-nav">
        <div class="logo-container">
          <img src="photos/logo.png" alt="logo"/>
          <span class="logo-text">Servicii la domiciliu</span>
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
          <div class="menu-button"></div>
        </label>
        <ul class="menu">
          <li onclick="location.href='index.html';">Servicii</li>
          <li onclick="location.href='programeaza.html';">Programeaza</li>
          <li class="active" onclick="location.href='login.html';">Login</li>
        </ul>
      </nav>
    </header>
    <main>
    <div class="register-container">
	    <h1>Register Account</h1>
		<div th:if="${succes == false}" style="color: red;">
			<p>Ceva nu a mers bine</p>
			<p th:if="${faraLiniiModificate != null}">Nu s-a reusit inserarea in baza de date</p>
			<p th:if="${longNameError != null}">Numele este prea lung</p>
			<p th:if="${shortNameError != null}">Numele este prea scurt</p>
			<p th:if="${numeNotContainsOnlyLettersError != null}">Numele trebuie sa contina doar litere din alfabetul englez</p>
			<p th:if="${longPrenumeError != null}">Prenumele este prea lung</p>
			<p th:if="${shortPrenumeError != null}">Prenumele este prea scurt</p>
			<p th:if="${prenumeNotContainsOnlyLettersError != null}">Prenumele trebuie sa contina doar litere din alfabetul englez</p>
			<p th:if="${judetError != null}">Judetul trebuie sa contina doar litere din alfabetul englez si sa fie intre 2-50 caractere</p>
			<p th:if="${anNastereError != null}">Anul de nastere nu este posibil</p>
			<p th:if="${minorError != null}">Sunteti minor pentru a avea cont, chemati un adult</p>
			<p th:if="${orasError != null}">Orasul trebuie sa contina doar litere din alfabetul englez si sa fie intre 2-50 caractere</p>
			<p th:if="${longStradaError != null}">Numele strazii este prea lung</p>
			<p th:if="${shortStradaError != null}">Numele strazii este prea scurt</p>
			<p th:if="${lessLettersStradaError != null}">Numele strazii contine prea putine litere</p>
			<p th:if="${longBlocError != null}">Numele blocului este prea lung</p>
			<p th:if="${longScaraError != null}">Numele scarii de bloc este prea lung</p>
			<p th:if="${longTelefonError != null}">Numarul de telefon este prea lung</p>
			<p th:if="${notValidTelefonError != null}">Numarul de telefon este invalid. Exemplu valid:0712345678 sau +3913512457872</p>
			<p th:if="${longUsernameError != null}">Username este prea lung (max. 50 caractere)</p>
			<p th:if="${shortPasswordError != null}">Parola este prea mica</p>
			<p th:if="${longPasswordError != null}">Parola este prea mare</p>
			<p th:if="${differentPasswordError != null}">Parolele introduse nu sunt identice</p>
			<p th:if="${passwordNotContainsBigLetterError != null}">Parola trebuie sa contina cel putin o litera mare</p>
			<p th:if="${passwordNotContainsSmallLetterError != null}">Parola trebuie sa contina cel putin o litera mica</p>
			<p th:if="${passwordNotContainsMin4DigitsError != null}">Parola trebuie sa contina cel putin 4 cifre</p>
			<p th:if="${passwordNotContainsSpecialCaracterError != null}">Parola trebuie sa contina cel putin un caracter special (!,?,@,#,!,% etc)</p>
			<p th:if="${tooManyArondsEmailError != null}">Email-ul contine prea multe caractere '@'</p>
			<p th:if="${tooManyDotsEmailError != null}">Email-ul contine prea multe puncte dupa '@'</p>
			<p th:if="${shortEmailUsernameError != null}">Username-ul email-ului este prea scurt</p>
			<p th:if="${shortEmailServerError != null}">Server-ul email-ului este prea scurt, incearca cu @gmail</p>
			<p th:if="${shortEmailDomainError != null}">Domeniul email-ului este prea scurt, incearca .ro sau .com</p>
			<p th:if="${longEmailError != null}">Email-ul este prea lung</p>
			<p th:if="${usernameExistsError != null}">Deja exista un cont cu acest username</p>
			<p th:if="${emailExistsError != null}">Deja exista un cont cu acest email</p>
		</div>
	    <form action="register" id="registerForm" method="post">
		    <div class="register-form">
			    <div class="data-divizor" style="margin-right: 50px;">
			    
			    	<div class="register-entry">
					    <p class="register-p">Username:</p>
					    <input type="text" id="usernameClient" name="usernameClient" required>
				    </div>
				    <div class="register-entry">
					    <p class="register-p">Nume:</p>
					    <input type="text" id="numeClient" name="numeClient" required>
					</div>
					<div class="register-entry">
						    <p class="register-p">Prenume:</p>
						    <input type="text" id="prenumeClient" name="prenumeClient" required>
					</div>
					<div class="register-entry">
						    <p class="register-p">Judet:</p>
						    <input type="text" id="judetClient" name="judetClient" required>
					</div>
					<div class="register-entry">
						    <p class="register-p">Oras:</p>
						    <input type="text" id="orasClient" name="orasClient" required>
					</div>
					<div class="register-entry">
						    <p class="register-p">Numar:</p>
						    <input type="number" id="numarStradaClient" name="numarStradaClient">
					</div>
					<div class="register-entry">
						    <p class="register-p">Scara:</p>
						    <input type="text" id="scaraClient" name="scaraClient">
					</div>
					<div class="register-entry">
						    <p class="register-p">Telefon:</p>
						    <input type="tel" id="telefonClient" name="telefonClient" required>
					</div>
				    
				 </div>
				 <div class="data-divizor">
					 <div class="register-entry">
						    <p class="register-p">Parola:</p>
						    <input type="password" id="parolaClient" name="parolaClient" required>
					 </div>
					 <div class="register-entry">
					    <p class="register-p">Confirma parola:</p>
					    <input type="password" id="parolaConfirmataClient" name="parolaConfirmataClient" required>
				    </div>
				    <div class="register-entry">
				    	<p class="register-p">Sex:</p>
					    <select id="sexOptionsClient" name="sexOptionsClient">
					      <option value="1">Prefer sa nu spun</option>
						  <option value="2">M</option>
						  <option value="3">F</option>
						</select>
					</div>
					<div class="register-entry">
					    <p class="register-p">Data de nastere:</p>
					    <input type="date" id="dataNastereClient" name="dataNastereClient" required>
				    </div>
				    <div class="register-entry">
						    <p class="register-p">Strada:</p>
						    <input type="text" id="stradaClient" name="stradaClient">
					</div>
					<div class="register-entry">
						    <p class="register-p">Bloc:</p>
						    <input type="text" id="blocClient" name="blocClient">
					</div>
					<div class="register-entry">
						    <p class="register-p">Apartament:</p>
						    <input type="number" id="apartamentClient" name="apartamentClient">
					</div>
					<div class="register-entry">
						    <p class="register-p">Email:</p>
						    <input type="email" id="emailClient" name="emailClient" required>
					</div>
				    
				</div>
			</div>
		    <div id="register-button-container">
		    	<button class="register-button" type="submit">Register</button>
		    </div>
	    </form>
    </div>
    </main>
    <footer>
      <a href="index.html">ServiciiDomiciliu.com</a>
    </footer>
</body>
</html>